html {
  font-family: "SN Pro", sans-serif;
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  justify-self: center;
  text-align: center;
  background-color: #f8f6f2;}
a {
  color: #000;
  text-decoration: none;}

header {
  font-size: x-large;
  font-weight: bold;  
  background-color: #fffdf8;
  width: 100%;
  height: 50px;
  line-height: 200%;
  justify-self: center;
  font-optical-sizing: auto;
  position: absolute; /*Change to fixed to make it scroll with the user.*/
  top: 25px;
  overflow: hidden;}

.header-menu{
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: medium;
  font-weight: normal;
  word-spacing: 10px;
}

  body {
  font-optical-sizing: auto;
  margin-top: 75px;
  padding: 20px;
  justify-self: center;
  height: 100%;}
footer {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  position: absolute;
  bottom: 25px;
  justify-self: center;}
